<div class="container-fluid">
  <div class = "row">
    <div class = "col-1"></div>

    <div class = "col">

      <table class="table table-responsive table-light" id ="series-Table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Channel</th>
            <th scope="col">Seasons</th>
          </tr>
        </thead>
        <tbody>
          <tr  class="table-secondary" *ngFor="let serie of series">
            <th scope="row"> {{serie.id}}</th>
            <td (click)="onSelected(serie)"> {{serie.name}} </td>
            <td> {{serie.channel}}</td>
            <td> {{serie.seasons}}</td>
          </tr>
        </tbody>
    </table>
    <p>Season average: {{average()}}</p>

    </div>


    <div class="col">
      <div *ngIf="selected">
      <app-serie-detail [serieDetail]="selectedSerie"></app-serie-detail>
      </div>
    </div>

  </div>

</div>









